.LandingPage {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.LandingPage_GetStarted {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.LandingPage_ValueArea {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
