// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  .Wrapper_12,.Wrapper_9, .Wrapper_8, .Wrapper_6, .Wrapper_4, .Wrapper_3 {
    display: block;
  }
  .Box_12, .Box_9, .Box_8, .Box_6, .Box_4, .Box_3 {
    display: block;
    padding: 1rem;
    box-sizing: border-box;
  }
  .Wrapper_12, .Box_12 {
    width: 100%;
  }
  .Wrapper_9, .Box_9 {
    width: 100%;
  }
  .Wrapper_8, .Box_8 {
    width: 100%;
  }
  .Wrapper_6, .Box_6 {
    width: 100%;
  }
  .Wrapper_4, .Box_4 {
    width: 100%;
  }
  .Wrapper_3, .Box_3 {
    width: 100%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .Wrapper_12,.Wrapper_9, .Wrapper_8, .Wrapper_6, .Wrapper_4, .Wrapper_3 {
    display: block;
    float: left;
  }
  .Box_12, .Box_9, .Box_8, .Box_6, .Box_4, .Box_3 {
    display: block;
    padding: 2rem;
    float: left;
    box-sizing: border-box;
  }
  .Wrapper_12, .Box_12 {
    width: 100%;
  }
  .Wrapper_9, .Box_9 {
    width: 50%;
  }
  .Wrapper_8, .Box_8 {
    width: 50%;
  }
  .Wrapper_6, .Box_6 {
    width: 50%;
  }
  .Wrapper_4, .Box_4 {
    width: 50%;
  }
  .Wrapper_3, .Box_3 {
    width: 50%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  .Wrapper_12,.Wrapper_9, .Wrapper_8, .Wrapper_6, .Wrapper_4, .Wrapper_3 {
    display: flex;
    float: left;
  }
  .Box_12, .Box_9, .Box_8, .Box_6, .Box_4, .Box_3 {
    display: block;
    padding: 2rem;
    float: left;
    box-sizing: border-box;
  }
  .Wrapper_12, .Box_12 {
    width: 100%;
  }
  .Wrapper_9, .Box_9 {
    width: 75%;
  }
  .Wrapper_8, .Box_8 {
    width: 66.66%;
  }
  .Wrapper_6, .Box_6 {
    width: 50%;
  }
  .Wrapper_4, .Box_4 {
    width: 33.33%;
  }
  .Wrapper_3, .Box_3 {
    width: 25%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
  .Wrapper_12,.Wrapper_9, .Wrapper_8, .Wrapper_6, .Wrapper_4, .Wrapper_3 {
    display: flex;
    float: left;
  }
  .Box_12, .Box_9, .Box_8, .Box_6, .Box_4, .Box_3 {
    display: block;
    padding: 3rem;
    float: left;
    box-sizing: border-box;
  }
  .Wrapper_12, .Box_12 {
    width: 100%;
  }
  .Wrapper_9, .Box_9 {
    width: 75%;
  }
  .Wrapper_8, .Box_8 {
    width: 66.66%;
  }
  .Wrapper_6, .Box_6 {
    width: 50%;
  }
  .Wrapper_4, .Box_4 {
    width: 33.33%;
  }
  .Wrapper_3, .Box_3 {
    width: 25%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .Wrapper_12,.Wrapper_9, .Wrapper_8, .Wrapper_6, .Wrapper_4, .Wrapper_3 {
    display: flex;
    float: left;
  }
  .Box_12, .Box_9, .Box_8, .Box_6, .Box_4, .Box_3 {
    display: block;
    padding: 5rem;
    float: left;
    box-sizing: border-box;
  }
  .Wrapper_12, .Box_12 {
    width: 100%;
  }
  .Wrapper_9, .Box_9 {
    width: 75%;
  }
  .Wrapper_8, .Box_8 {
    width: 66.66%;
  }
  .Wrapper_6, .Box_6 {
    width: 50%;
  }
  .Wrapper_4, .Box_4 {
    width: 33.33%;
  }
  .Wrapper_3, .Box_3 {
    width: 25%;
  }
}
