.Wrapper_12, .Wrapper_9, .Wrapper_8, .Wrapper_6, .Wrapper_4, .Wrapper_3 {
  display: block;
  margin: 0 auto 0;
  float: left;
}
.Box_12, .Box_9, .Box_8, .Box_6, .Box_4, .Box_3 {
  display: block;
  margin: 0 auto;
  float: left;
  max-width: 75rem;
}
.Box_12.NoPadding, .Box_9.NoPadding, .Box_8.NoPadding,
.Box_6.NoPadding, .Box_4.NoPadding, .Box_3.NoPadding {
  padding: 0;
}
.Box_12.NoFloat, .Box_9.NoFloat, .Box_8.NoFloat,
.Box_6.NoFloat, .Box_4.NoFloat, .Box_3.NoFloat {
  float: none ;
}
.Box_12.Center, .Box_9.Center, .Box_8.Center,
.Box_6.Center, .Box_4.Center, .Box_3.Center {
  text-align: center;
}
.Box_12.Flex, .Wrapper_12.Flex,
.Box_9.Flex, .Wrapper_9.Flex,
.Box_8.Flex, .Wrapper_8.Flex,
.Box_6.Flex, .Wrapper_6.Flex,
.Box_4.Flex, .Wrapper_4.Flex,
.Box_3.Flex, .Wrapper_3.Flex {
  display: flex;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  .Wrapper_12, .Wrapper_9, .Wrapper_8, .Wrapper_6, .Wrapper_4, .Wrapper_3 {
    float: none;
  }
  .Box_12, .Box_9, .Box_8, .Box_6, .Box_4, .Box_3 {
    padding: 0 1rem 0;
    float: none;
    box-sizing: border-box;
  }
  .Wrapper_12, .Box_12 {
    width: 100%;
  }
  .Wrapper_9, .Box_9 {
    width: 100%;
  }
  .Wrapper_8, .Box_8 {
    width: 100%;
  }
  .Wrapper_6, .Box_6 {
    width: 100%;
  }
  .Wrapper_4, .Box_4 {
    width: 100%;
  }
  .Wrapper_3, .Box_3 {
    width: 100%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .Wrapper_12, .Wrapper_9, .Wrapper_8, .Wrapper_6, .Wrapper_4, .Wrapper_3 {

  }
  .Box_12, .Box_9, .Box_8, .Box_6, .Box_4, .Box_3 {
    padding: 0 2rem 0;
    box-sizing: border-box;
  }
  .Wrapper_12, .Box_12 {
    width: 100%;
  }
  .Wrapper_9, .Box_9 {
    width: 50%;
  }
  .Wrapper_8, .Box_8 {
    width: 50%;
  }
  .Wrapper_6, .Box_6 {
    width: 50%;
  }
  .Wrapper_4, .Box_4 {
    width: 50%;
  }
  .Wrapper_3, .Box_3 {
    width: 50%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  .Wrapper_12, .Wrapper_9, .Wrapper_8, .Wrapper_6, .Wrapper_4, .Wrapper_3 {

  }
  .Box_12, .Box_9, .Box_8, .Box_6, .Box_4, .Box_3 {
    padding: 0 2rem 0;
    box-sizing: border-box;
  }
  .Wrapper_12, .Box_12 {
    width: 100%;
  }
  .Wrapper_9, .Box_9 {
    width: 75%;
  }
  .Wrapper_8, .Box_8 {
    width: 66.66%;
  }
  .Wrapper_6, .Box_6 {
    width: 50%;
  }
  .Wrapper_4, .Box_4 {
    width: 33.33%;
  }
  .Wrapper_3, .Box_3 {
    width: 25%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
  .Wrapper_12, .Wrapper_9, .Wrapper_8, .Wrapper_6, .Wrapper_4, .Wrapper_3 {

  }
  .Box_12, .Box_9, .Box_8, .Box_6, .Box_4, .Box_3 {
    padding: 0 3rem 0;
    box-sizing: border-box;
  }
  .Wrapper_12, .Box_12 {
    width: 100%;
  }
  .Wrapper_9, .Box_9 {
    width: 75%;
  }
  .Wrapper_8, .Box_8 {
    width: 66.66%;
  }
  .Wrapper_6, .Box_6 {
    width: 50%;
  }
  .Wrapper_4, .Box_4 {
    width: 33.33%;
  }
  .Wrapper_3, .Box_3 {
    width: 25%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .Wrapper_12, .Wrapper_9, .Wrapper_8, .Wrapper_6, .Wrapper_4, .Wrapper_3 {

  }
  .Box_12, .Box_9, .Box_8, .Box_6, .Box_4, .Box_3 {
    padding: 0 5rem 0;
    box-sizing: border-box;
  }
  .Wrapper_12, .Box_12 {
    width: 100%;
  }
  .Wrapper_9, .Box_9 {
    width: 75%;
  }
  .Wrapper_8, .Box_8 {
    width: 66.66%;
  }
  .Wrapper_6, .Box_6 {
    width: 50%;
  }
  .Wrapper_4, .Box_4 {
    width: 33.33%;
  }
  .Wrapper_3, .Box_3 {
    width: 25%;
  }
}
