@import "reset.scss";

.Header {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  overflow: hidden;
  background-color: #3c4146;
}

/* Logotype */
.Header .Box_3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #eef4fc;
}
.Header .Box_3 .Thin {
  font-weight: 100;
  color: #d0d0d0;
}

/* Navigation */
.Header .Box_9 {
  line-height: 1.5rem;
  text-decoration: none;
}
.Header .Box_9 ul {
  display: inline-block;
}
.Header_Nav_Item {
  padding-right: 1rem;
  color: #eef4fc;
  text-decoration: none;
}
