.NavButton_Container {
  display: inline-block;
  padding-right: 1rem;
}
.NavButton_Container_Item,
.NavButton_Container_Item_Active {
  color: #949494;
  text-decoration: none;
}
.NavButton_Container_Item:hover,
.NavButton_Container_Item_Active:hover {
  color: #000;
}
.NavButton_Container_Item {
}
.NavButton_Container_Item_Active {
  color: #000;
}
