.Header_Container {
  padding: 0 1rem 0;
  box-sizing: border-box;
  width: 100%;
  background-color: #eaeaea;
}
.Header_Container_Logo {
  display: inline-block;
  padding: 1rem 0 1rem;
  margin-right: 1rem;
  color: #000;
}
